.mainContainer {
  background-color: #f3eee8;
  font-family:'PT Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}


header {
  grid-column: 2 / span 6; /* Full width header */
}

h1 {
  grid-column: 4 / 6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: #efe2d2;
}

  


nav a{
  text-decoration: none;
 
}


main{
  grid-column: 2 / span 6; /* Main content spans from column 3 to 6 */
}

section {
  text-align: center;
  background-color: rgb(113, 108, 108);
  display: flex;
  flex-direction: column;
}

.dogBreed{
  
  flex-direction: row;
  justify-content: space-around;

}

footer {
  grid-column: 2 / span 6; /* Full width footer */
  background-color: aqua;
  text-align: center;
}


img{
  max-width: 100%; /*Set max-width to prevent image overflow*/
  grid-column: 2 / 8;
  
  
}

.dogBreedImg{
  max-width: 800px;
}

.adviceImg{
  max-width: 50%;
 
  max-height: 100%; /* Ensure the image does not exceed the container height */
  object-fit: contain; 
}

/* .dogFinderImg{

}



.dogBreedImg{

} */


/* .AdviceImg{

}


.developersImg{

} */